.signChooseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
    padding: 2rem;
    gap: 30px;
    overflow: hidden;
    height: 100%;
    flex-direction: column;
}
.signChooseContainer .chooseWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.signChooseContainer .chooseWrap img{
    width: 250px;
}
.signChooseContainer .chooseWrap a{
    font-size: 30px;
    color: #fff;
}