.GamedetailContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding-top: 70px;
}

.GamedetailContainer .createForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}